body{
  background-color: rgb(255, 209, 26);
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
  text-align: center;
  font-size: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

h2{
  text-align: center;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

h3{
  font-size: 24px;
  text-decoration: underline;
  margin-left: 20px;
  margin-right: 20px;
}

p{
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}
#v-pills-important-tab{
    color: dimgrey;
}
#v-pills-further-tab{
    color: dimgrey;
}

#v-pills-factors-tab{
    color: dimgrey;
}

#v-pills-important-tab.active{
    background-color: lemonchiffon;
    color: black;
}
#v-pills-further-tab.active{
    background-color: lemonchiffon;
    color: black;
}

#v-pills-factors-tab.active{
  background-color: lemonchiffon;
  color: black;
}

#-ms-viewport{
  width: device-width;
}
