body{
  background-color: #F4D03F;
  color: black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h1{
  text-align: center;
  font-size: 60px;
  margin-left: 20px;
  margin-right: 20px;
}

h2{
  text-align: center;
  font-size: 24px;
  margin-left: 20px;
  margin-right: 20px;
}

h3{
  font-size: 24px;
  text-decoration: underline;
  margin-left: 20px;
  margin-right: 20px;
}

p{
  font-size: 16px;
  margin-left: 20px;
  margin-right: 20px;
}
